body {
	background-attachment:fixed;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 85%;
	margin: 0;
	padding: 4px 1em 4px 1em;
}
a{
	text-decoration:none;
}
#wrap{
	margin:0 auto;
	text-align:left;	
	width:96%;
}
#header {
	padding: 0px 20px 4px 20px;
	color: #000033;
}
#content {
	padding: 20px 20px 4px 20px;
	background-color: #D0E4EE;
	
	background-image:url("//tools.wmflabs.org/newwebtest/images/gradient.png");
	background-repeat:repeat-x;

	
	background-image: -webkit-linear-gradient(top, #eeeeee, #dee5f9); 
	background-image:    -moz-linear-gradient(top, #eeeeee, #dee5f9); 
	background-image:     -ms-linear-gradient(top, #eeeeee, #d0e4ee); 
	background-image:      -o-linear-gradient(top, #eeeeee, #d0e4ee);
	background-image:         linear-gradient(to bottom, #eeeeee, #dee5f9); 

	border-radius:5px;
	/*http://patorjk.com/gradient-image-generator/*/
	text-rendering: optimizelegibility;
	
}
#footer {
	padding: 0px 20px 20px 20px;
	height: 40px;
	background-color: #EAEAEA;
	
	background-image: -webkit-linear-gradient(left, #eeeeee, #dee5f9); /* For Chrome and Safari */
	background-image:    -moz-linear-gradient(left, #eeeeee, #dee5f9); /* For old Fx (3.6 to 15) */
	background-image:     -ms-linear-gradient(left, #eeeeee, #dee5f9); /* For pre-releases of IE 10*/
	background-image:      -o-linear-gradient(left, #eeeeee, #dee5f9); /* For old Opera (11.1 to 12.0) */
	background-image:         linear-gradient(to right, #eeeeee, #dee5f9); /* Standard syntax; must be last */

	
	color: rgb(34,34,34);
	valign: top;
	border-top: none;
	border-radius:5px;
}
.footertext {
	//margin: auto 0;
	//vertical-align: 50%;
}
h2 {
	border-bottom: 2px solid #aaaaaa;
}
h3 {
	border-bottom: 2px solid #aaaaaa;
}
#nav {
	font-size: 75%
	text-align: center;
	border-bottom: 2px solid #aaaaaa;
}
.container
{
	text-align:center;
}
.center
{
	margin-left:auto;
	margin-right:auto;
}
img {
	border: none;
}
.alert {
	color: #b94a48;
	background-color: #f2dede;
	border-color: #eed3d7;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	border-radius:4px;
	text-align:center;
	font-size:120%;
	padding:0.2em 0.4em;
	font-weight:bold;
	text-rendering: optimizelegibility;
}
.notice {
	color: #468847;
	background-color: #dff0d8;
	border-color: #d6e9c6;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	border-radius:4px;
	text-align:center;
	font-size:100%;
	padding:0.2em 0.4em;
	//font-weight:bold;
	margin: 0.5em 1em -0.8em 1em;
	vertical-align;
	text-rendering: optimizelegibility;
}
input{
	border-width:1px;
	border-color:lightgrey;
	border-style:solid;
	background-color:#f1f1f1;
}

div.bar { 
	height: 10px; 
}
div.outer_bar {
	border: 1px solid #444;
	float: left;
	//margin: .3em 0;
	font-size:70%;
	height:10px;
	_width:0;		/* MSIE underscore hack */
}
.showhide{
	padding-left:5px;
	font-size:75%;
	font-weight:normal;
}
.caption{
	text-align:center; 
	font-weight:bold; 
	margin-top:1em;
	margin-bottom:-1.8em
}
.caption p{
	margin-bottom:0px; 
	margin-top: 5px; 
	font-weight:normal;
	font-size: 80%;
}
table.months {
	padding-top: 0.8em;
}
.monthsep{
	height: 1.2em;
}
td.date {
	padding: 0 1em 0 0;
	font-weight: bold;
}
table.months td {
	font-size: 85%;
	//height:10px;
}
.tdnum{
	text-align:right;
	padding-right:8px;
}
.tddate{
	padding-left:8px;
}
.tdgeneral{
	display:inline-block; 
	width:60px;
	text-align:right;
}
.tdtop1{
	padding-left:20px;
}
div.red, div.green {
	height:1em;
	float:left;
}

div.topN {
	float: left;
	min-height: 30em;           /* otherwise, they get ALL jumbled up */
}
table.topN {
	float: left;
	border: 1px solid black;
}
table.topN th {
	background-color: #000;
	color: #fff;
}
table.topN td {
	padding: .1em .3em;
}
.leantable th, .leantable2 th {
	font-weight:normal;
	border-bottom: 1px #aaa solid;
	padding:3px 5px;
	text-align:center;
	white-space:nowrap;
}
.leantable2 td {
	font-weight:normal;
	border-right: 1px silver solid;
	border-left: 1px silver solid;
	padding: 1px 5px;
}
.wikitable, .prettytable, .leantable2 {
    margin: 1em 1em 1em 0;
    border-collapse:collapse;
}
.wikitable th, .prettytable th  {
	border: 1px #aaa solid;
    padding: 0.2em 0.5em 0.5em 0.5em;
}
.wikitable td,  .prettytable td{
    padding: 0.2em 0.5em ;
    border-right: 1px solid silver;
}
.wikitable tr, .prettytable tr, .leantable2 tr {
	border: 1px silver solid;
}

.legendicon{
	display: inline-block;
	height: 10px;
	width: 5px;
	padding: 0px 5px;
	border-radius: 2px;
}
.dup {font-weight:bold;color:red}
.iffy1 {font-style:italic}
.iffy2 {text-decoration:underline}

#popup {
    /* Necessary: */
    position: absolute;
    display: none;
    z-index: 10;

    /* Additional styling: */
    //width: 200px;
    font-size: 80%;
    background-color: #eee;
    border: 1px dotted #ece;
    opacity: .90;
    /* filter: alpha(opacity=90); */
  }
